In [1]:
# Curso de pandas - Hashtag Programação 

# Importando o pandas 
import pandas as pd

In [ ]:
# Criando um dataframe a partir de um dicionário

# Dataframe = pd.Dataframe()

venda = {
    'data':['10/11/2024','24/10/2024'],
    'valor':[500,370],
    'produto':['carro','moto'],
    'quantidade':[1,2]
}

# Visualização de dados

# podemos digitar apenas um venda que ele vai ser exibido 
# venda

venda_df = pd.DataFrame(venda)

# Método pava visualização um dos melhores é esse abaixo mas, tem como fazer utilizando o display(nome_do_dataframe) e também através do print(nome_do_dataframe)
display(venda_df)

         data  valor produto  quantidade
0  10/11/2024    500   carro           1
1  24/10/2024    370    moto           2

In [ ]:
# Agora vamos utilizar os dataframe da aula

# Método de leitura pd.read_excel
gerentes_df = pd.read_excel(f'C:\\Users\\kauar\\Desktop\\Python\\Python\\Bibliotecas\\pandas\\Gerentes.xlsx')
vendas_dezembro_df = pd.read_excel(f'C:\\Users\\kauar\\Desktop\\Python\\Python\\Bibliotecas\\pandas\\Vendas - Dez.xlsx')
vendas_df = pd.read_excel(f'C:\\Users\\kauar\\Desktop\\Python\\Python\\Bibliotecas\\pandas\\Vendas.xlsx')

In [ ]:
# Visualização do cabeçalho
display(gerentes_df.head())

                      ID Loja   Gerente
0          Iguatemi Esplanada  Salvador
1              Norte Shopping     Joana
2  Rio Mar Shopping Fortaleza     Maria
3              Shopping Barra   Letícia
4         Shopping Ibirapuera    Helena

In [ ]:
# Vizualização de linhas e colunas - Quantidade
print(gerentes_df.shape)

(25, 2)

In [ ]:
# Resumo
display(vendas_df.describe())

,Código Venda,Data,Quantidade,Valor Unitário,Valor Final
count,93910.000000,93910,93910.000000,93910.000000,93910.000000
mean,32464.762155,2019-06-16 23:52:28.265360896,2.166553,191.725886,414.862656
min,1.000000,2019-01-01 00:00:00,1.000000,30.000000,30.000000
25%,16204.000000,2019-03-26 00:00:00,1.000000,100.000000,156.000000
50%,32367.000000,2019-06-17 00:00:00,2.000000,155.000000,274.000000
75%,48793.750000,2019-09-08 00:00:00,3.000000,248.000000,524.000000
max,65014.000000,2019-11-30 00:00:00,5.000000,750.000000,3750.000000
std,18809.007093,NaN,1.258732,145.215519,434.846228

In [ ]:
# Pegando apenas apenas a coluna do produto 
produtos = vendas_df['Produto']

0           Sapato Estampa
1                 Camiseta
2            Sapato Xadrez
3                  Relógio
4             Chinelo Liso
               ...
93905       Mochila Xadrez
93906    Pulseira Listrado
93907       Cueca Listrado
93908       Pulseira Linho
93909        Casaco Xadrez
Name: Produto, Length: 93910, dtype: object

In [38]:
# Metodo loc - pegar linha ou linhas

# Pegar linha específica
# Aqui pega da primeira linha até o 10
# vendas_df.loc[1:10]

# Pegar linhas que correspondem a uma condição
#vendas_norte_shopping_df = display(vendas_df.loc[vendas_df['ID Loja'] == 'Norte Shopping'])

# Pegar várias linhas e colunas usando o loc
# vendas_norte_shopping_df = vendas_df.loc[vendas_df['ID Loja'] == 'Norte Shopping', ['ID Loja', 'Produto', 'Quantidade']]
# display(vendas_norte_shopping_df)

# Pegar um valor específico
vendas_df.loc[1,'Produto']

'Camiseta'

In [ ]:
# Adicionar uma coluna nova 

# A partir de uma coluna que existe
vendas_df['Comissão'] = vendas_df['Valor Final'] * 0.05

# Criar uma coluna com o valor padrão
vendas_df.loc[:,'Imposto'] = 0
vendas_df

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0
...,...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30,0
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90,0
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05,0
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50,0
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80,0

In [65]:
vendas_df = pd.concat([vendas_df, vendas_dezembro_df])
venda_df = vendas_df.drop(0,axis = 0)