In [ ]:
import sqlite3

conexao = sqlite3.connect('clientes.slqite')
cursor = conexao.cursor()

cursor.execute("CREATE TABLE clientes (id INTEGER PRIMARY KEY AUTOINCREMENT, nome VARCHAR(100), email VARCHAR(150))")

data = ("Rodrigo Faro", "kauarodrigo1193@gmail.com")
cursor.execute("INSERT INTO clientes (nome,email) VALUES (?,?)",data)

In [4]:
data = ("Rodrigo", "kauarodrigo1193@gmail.com")
cursor.execute("INSERT INTO clientes (nome,email) VALUES (?,?)",data)

In [5]:
conexao.commit()